body {
    background-color: white;
    box-sizing: border-box;
    color: #35465d;
  }
  .file-upload {
      padding: 15% 3%;
      margin: 0 auto;
      border-radius: 10px;
      border: solid 1.5px #f6f7fa;
      background-color: #f6f7fa;
  }
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  #loading {
    display: none;
  }
  
  .file-upload-input {
    position: absolute;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;

  }
  
  .image-upload-wrap {
      width: 60%;
      margin: 0 auto;
      position: relative;
      object-fit: contain;
      border-radius: 10px;
      border: dashed 1.5px #35465d;
      background-color: #ffffff;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
      background-color: #35465d82;
      border: 1.5px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .file-upload-image {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    padding: 10px;
  }
  
  .try-again-btn {
    border-radius: 40px;
    border: solid 1.5px gray;
    background-color: gray;
  }
  
  .try-again-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 15px;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .navbar-light .navbar-brand {
    line-height: 1.68;
    text-align: left;
    color: #35465d; 
  }
  
  .navbar-light .navbar-toggler {
      border-color: #ffffff;
  }
  
  .section {
      margin-top: 20px;
  }
  
  .title {
    line-height: 1.67;
    text-align: center;
    color: #35465d;
  }
  
  .subtitle {
    line-height: 1.53;
    text-align: center;
    color: #35465d;
  }
  

  
  .upload {
      width: 20%;
  }
  
  .upload-text {
      width: 58%;
      font-size: 1.5rem;
      line-height: 1.53;
      text-align: center;
      color: #35465d;
      margin: 0 auto;
  }
  
  /* 여기는 동물박스 그래프표시를 할수있는 css구간 */
  .bar-container {
    height: 2.7rem;
  }
  .내시-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .내시-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .망나니-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .망나니-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .백정-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
  }
  .백정-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
  }
  .상놈-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
  }
  .상놈-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
  }
  .양반-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
  }
  .양반-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
  }
  .오랑캐-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
  }
  .오랑캐-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
  }
  .왕-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
  }
  .왕-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
  }
  .평민-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
  }
  .평민-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
  }
  .궁녀-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .궁녀-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .기생-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .기생-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .노비-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
  }
  .노비-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
  }
  .상궁-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
  }
  .상궁-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
  }
  .주모-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
  }
  .주모-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
  }
  .중전-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
  }
  .중전-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
  }
  

  .percent-text {
    font-size: 1rem;
    color: #ffffff;
  }
  .josun-label {
      width: 20%;
      text-align: left;
      height: 2rem;
  }
  #label-container {
      width: 80%;
      margin: 0 auto;
  }
  .result-message {
      font-size: 2rem;
  }
  
  
  .animal-explain {
      font-size: 1.5rem;
  }
  .내시-josun-title {
      color: #3ba363;
  }
  .내시-josun-celeb {
      color: #3ba363;
      font-size: 1.2rem;
  }
  .망나니-josun-title {
      color: #3ba363;
  }
  .망나니-josun-celeb {
      color: #3ba363;
      font-size: 1.2rem;
  }
  .백정-josun-title {
      color: #ff6c0a;
  }
  .백정-josun-celeb {
      color: #ff6c0a;
      font-size: 1.2rem;
  }
  .상놈-josun-title {
      color: #548dd4;
  }
  .상놈-josun-celeb {
      color: #548dd4;
      font-size: 1.2rem;
  }
  .양반-animal-title {
      color: #e56995;
  }
  .양반-josun-celeb {
      color: #e56995;
      font-size: 1.2rem;
  }
  .오랑캐-josun-title {
      color: #9b6b43;
  }
  .오랑캐-josun-celeb {
      color: #9b6b43;
      font-size: 1.2rem;
  }
  .왕-josun-title {
      color: #31849b;
  }
  .왕-josun-celeb {
      color: #31849b;
      font-size: 1.2rem;
  }
  .평민-josun-title {
    color: #31849b;
}
.평민-josun-celeb {
    color: #31849b;
    font-size: 1.2rem;
}
.궁녀-josun-title {
    color: rgb(4, 64, 80);
}
.궁녀-josun {
    color: #31849b;
    font-size: 1.2rem;
}
.기생-josun-title {
    color: rgb(4, 64, 80);
}
.기생-animal {
    color: #31849b;
    font-size: 1.2rem;
}
.노비-josun-title {
    color: rgb(4, 64, 80);
}
.노비-josun {
    color: #31849b;
    font-size: 1.2rem;
}
.상궁-josun-title {
    color: rgb(4, 64, 80);
}
.상궁-josun {
    color: #31849b;
    font-size: 1.2rem;
}
.주모-josun-title {
    color: rgb(4, 64, 80);
}
.주모-josunl {
    color: #31849b;
    font-size: 1.2rem;
}
.중전-josun-title {
    color: rgb(4, 64, 80);
}
.중전-josun{
    color: #31849b;
    font-size: 1.2rem;
}
  /* 여기까지 사진이미지 데이터들 수정하는 구간 */
  
  /* gender */
  input#gender {
    display: none;
  }
  
  label {
    cursor: pointer;
    display: inline-block;
    width: 90px;
    height: 41px;
    box-shadow: 0 0 0 8px #e5e9ea inset;
    border-radius: 30px;
    position: relative;
  }
  
  .knob {
    position: absolute;
    width: 41px;
    top: 0;
    left: 0;
    height: 41px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #fb0404 inset;
    background-color: #fbd4e6;
    transition: 0.3s;
  }
  

  
  input:checked + label > .knob {
    box-shadow: 0 0 0 8px #1b02f8 inset;
    background-color: #e2ecf4;
    transform: translateX(49px) rotate(-140deg);
  }
  
  
  input:checked + label > .knob > i:after {
    top: 14.5px;
    width: 12px;
    left: -7px;
    transform: rotate(45deg);
  }
  input:checked + label > .knob > i:before {
    top: 13px;
    width: 12px;
    left: 0px;
    transform: rotate(134deg);
  }

  /* 여기가지는 성별 선택방향을 수정하는  css구간 */

 
 .pr-3{
  font-size: 29px;
  color: palevioletred;
 }

 .pl-3{
  font-size: 29px;
  color: rgb(62, 68, 250);
 }



